

* {
  margin:0;
  padding: 0;
}
body {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
#tela-inicial {
  width:100vw;
  height: 100dvh;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content:center
}

#botao-surpresa {
  padding: 8px 16px;
  color: white;
  background-color: #c62828;
  border: 1px solid white;
  cursor: pointer;
  animation: bounce-down-up 1.2s ease-in-out infinite;


}

@keyframes bounce-down-up {
  0%   { transform: translateY(0); }
  40%  { transform: translateY(20px); }
  100% { transform: translateY(0); }
}





#tela-nossa-historia {
  width:100vw;
  height: 100%;
  background-image: url("./assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#titulo-nossa-historia {
  color:#d32f2f;
  text-align: center;
  font-weight:700;
  font-size: 32px;
  padding-top: 24px;
  font-family: Serif;
}
.carousel {
  width: 100%;
  max-width: 800px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 4px;
  cursor: grab;
  scroll-snap-type: x mandatory;
  user-select: none;
  position: relative;
  margin-top:24px;
}

.carousel:active {
  cursor: grabbing;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  scroll-snap-align: center;
  flex: 0 0 200px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* <-- ESSENCIAL */
  border-radius: 16px;
  pointer-events: none;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}


p{
  text-align: center;
  font-weight:500;
  font-size: 16px;
  padding-top: 24px;
  color: white;

}

h2 {
  color:white;
  margin-top: 24px;
  text-align: center;

}
#container-coracao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.heart-img {
  width: 300px;
  height: 300px;
  clip-path: path("M150 270 L30 150 A60 60 0 0 1 150 60 A60 60 0 0 1 270 150 Z");
  overflow: hidden;
}

.heart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
